name: "OIDC test"

on:
  push:
    branches:
      - dev

#env:

jobs:
  terraform:
    name: "OIDC test"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the repository to the runner
        uses: actions/checkout@v4

      - name: Fetch the runtime Token
        uses: actions/github-script@v6
        id: script
        timeout-minutes: 10
        with:
          debug: true
          script: |
            const token = process.env['ACTIONS_RUNTIME_TOKEN']
            const runtimeUrl = process.env['ACTIONS_ID_TOKEN_REQUEST_URL']
            core.setOutput('TOKEN', token.trim())
            core.setOutput('IDTOKENURL', runtimeUrl.trim())

      - name: Fetch the ID Token
        id: tokenid
        run: |
          IDTOKEN=$(curl -H "Authorization: bearer  ${{steps.script.outputs.TOKEN}}" ${{steps.script.outputs.IDTOKENURL}}  -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" -d "{}" | jq -r '.value')
          echo "idToken=${IDTOKEN}" >> $GITHUB_OUTPUT

      - name: Fetch Access Token from cloud provider
        id: fetch_access_token
        env:
          ID_TOKEN: ${{ steps.tokenid.outputs.idToken }}
        run: |
          ACCESS_TOKEN=$(curl \
          -X POST \
          -H "Content-type: application/json" \
          https://pace7.com/oidc/jwt \
          -d "$ID_TOKEN")
          echo ACCESS_TOKEN=$ACCESS_TOKEN >> $GITHUB_OUTPUT
